<h1> Welcome Message </h1> 
<hr>

<%= link_to "Create New Message", new_message_path%> | <%= link_to "Show All messages", messages_path%>



<!-- form action="where it needs to go " method="post">
<input type="text" name="message[name]" id="name">
<input type="text" name="message[subject]" id="subject">
<teaxt>
</form>
<a></a>
{"meesgae" => {"name" =>"venkat", "subject=> "xyz"}}
 -->